@spacer: 1em;
@contrastColor: #455A64;
@ctaColor: #03A9F4;
@enabledColor: #388E3C;

.border-radius {
  border-radius: 2px;
}

body,
html {
  min-height: 100%;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 1em;
  background-color: #f6f6f6;
}

main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
}

.wizardStep {
  display: flex;
  flex-direction: column;
}

.sectionHeader,
.subHeader {
  flex-basis: 100%;
  padding: @spacer*0.25 @spacer*0.75;
  background-color: @contrastColor;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
}

.subHeader {
  background-color: @contrastColor;
  color: #fff;
  flex-basis: 100%;
  margin: 0;
  min-width: 100%;
  align-items: center;
  display: flex;
}

.subStep {
  margin: @spacer 0 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  border: solid 1px #ddd;
  border-radius: 2px;

  .subStepContent {
    padding: @spacer;
  }
}

.nextActions {
  justify-content: flex-end;
  flex-direction: row;

  a {
    padding: @spacer;
    background-color: @ctaColor;
    color: #fff;
    border: 0;
    flex-grow: 0;
    border-radius: 2px;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    margin-top: @spacer;
    text-decoration: none;
    margin-right: @spacer;

    .icon-plus {
      position: relative;
      top: @spacer/8;
    }

    &.back {
      background-color: #CFD8DC;
      color: rgba(0,0,0,0.67);
      text-shadow: none;
    }
  }
}

.columnMapping {
  ul {
    padding-left: 0;
  }

  p {
    margin: @spacer/6;
    font-weight: normal;
  }

  li {
    list-style-type: none;
    padding: @spacer/2;
    background-color: #f4f4f4;
    border: solid 1px #ddd;
    margin: @spacer/6;
    border-radius: 2px;
  }

  h5 {
    padding: @spacer/4;
    margin: 0;
  }
  align-items: flex-start;
}

.supplementary {
  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}

.toolPreview {
  ul {
    padding-left: 0;
    display: flex;
  }
  @halfBox: 250px;

  li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    border: solid 1px #ddd;
    padding: @spacer/2;
    background-color: #fff;
    margin: @spacer/2;

    p {
      max-width: @halfBox;
      padding: @spacer/2 0;
      margin: 0;
      order: 2;
      min-height: 2em;
      border-top: dotted 1px #ddd;
    }
  }

  label {
    order: 3;
    display: flex;
    justify-content: center;
    background: #ededed;
    border-top: dotted 1px #ddd;
    margin: 0 -@spacer/2 -@spacer/2;
    padding: @spacer/2;
    color: @enabledColor;
    font-weight: bold;

    input {
      margin: 0 @spacer/2;

      &:before {
        content: "";
        width: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1em;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.3) inset;
        border: solid 2px #333;
        background-color: #fff;
        border-radius: 2px;
      }

      &:checked:before {
        border-color: @enabledColor;
        color: @enabledColor;
        content: '\2714';
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
      }
    }
  }

  h3 {
    order: 0;
  }

  img {
    order: 1;
    max-width: @halfBox;
    max-height: @halfBox;
    align-self: center;
  }

  .imagePreview {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .subHeader {
    flex-grow: 0;
    height: auto;
    max-height: 2em;
    height: 2em;
  }
  display: flex;
}

.uploadAndGuidance {
  > div {
    padding: @spacer;
    margin: @spacer;
  }
}

.upload {
  padding: @spacer;
  margin: @spacer;
  .border-radius;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 1em;
  height: 1em;
  margin-left: 1em;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.identifier {
  font-family: mono;
  font-weight: normal;
  background-color: #eee;
  border: solid 1px #ddd;
  padding: 1px 2px;
}

.info {
  align-items: flex-start;
  justify-content: flex-start;
}

.infoBox {
  display: flex;
  align-items: center;

  .icon-info {
    width: 3em;
    height: 3em;
    fill: #888;
    margin: 1em;
  }

  .icon-pencil {
    margin-right: @spacer;
  }

  li,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .title {
    font-weight: bold;
  }
}

table {
  font-family: mono;
  font-size: 0.7em;

  tbody tr:nth-child(odd) {
    background-color: #ddd;
  }
}

.mock {
  font-family: 'Indie Flower';
  font-size: 1.1em;

  table {
    border: solid 2px #222;
    border-radius: 2px;
    font-size: 0.6em;
  }

  .identifier {
    font-size: 0.8em;
  }

  .sectionHeader,
  .subHeader {
    font-size: 1em;
    max-width: 100%;
    background-color: #ccc;
    color: #000;
  }

  a {
    background-color: #999;
    color: #000;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
    border-bottom: solid 2px #666;
    border-right: solid 1px #787878;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
  }
}
