    </main>
    <script src="/dist/main.js"></script>
    <script type="module">
        import { renderHeaderLoginOrUserName } from "../js/profile.js"
        renderHeaderLoginOrUserName()
    </script>
  </body>
</html>
