<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <%- include('../partials/icons'); %>
  <title> <%= title %> </title>
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <div class="alertbox" id="alertbox">
    </div>
