<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <%- include('../partials/icons'); %>
  <title> <%= title %> </title>
</head>
<body>
  <main>
