<div class="wizardStep nextActions">
  <a href="upload" class="back">&lt;&lt; Back</a>
  <a href="upload" class="back"><svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg> Add another file</a>
  <a href="supplementaryData" class="cta next">Save and Continue &gt;&gt;</a>
</div>
