<% var currentPage = {activeClass : "config"} %>

<%- include('../partials/head', {title : "Config | InterMine"}); %>

<%- include('partials/breadcrumbs', currentPage); %>

<div class="wizardStep nameYourMine">
    <h2 class="sectionHeader">Brilliant! Nearly done... </h2>
    <div class="mineName">
        <p>
          Last thing: what would you like to call your new InterMine?
        </p>
        <div class="urlInput">
          <div class="url">
            <svg class="icon icon-site"><use xlink:href="#icon-site"></use></svg>
            <input type="text" oninput="wizard.renderCheckAvailability(event);" autofocus="autofocus" value="MyFirstDatabase.AliceLab" id="mineNameInput"></input>
            <div class="blankurl">.intermine.org</div>
          </div>
          <div class="validation" id="validation">
            <svg class="icon icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>
            This project name is free!
          </div>
      </div>
    </div>
    <div class="privacy subStep">
      <h3 class="subHeader">Privacy</h3>
      <div class="subStepContent">
      <p>Who should be able to see your InterMine? You can change this later if you need to.</p>
      <form>
        <ul>
          <li>
            <label>
                <input type="radio" name="publicPrivate" value="public" />
                <div class="publicPrivate">
                  <svg class="icon icon-site"><use xlink:href="#icon-site"></use></svg>
                  <span class="title">Public:</span>
                </div>
                Your InterMine will appear on the public registry, and anyone who wishes to view your data may do so.
            </label>
            <p class="licence">Optional: <a href="#">add a licence to your data</a></p>
          </li>
          <li class="active">
            <label>
                <input type="radio" name="publicPrivate" value="unlisted" checked />
                <div class="publicPrivate">
                  <svg class="icon icon-unlocked"><use xlink:href="#icon-unlocked"></use></svg>
                  <span class="title">Unlisted:</span>
                </div>
                Anyone who has the link to your InterMine can view it, but it does not appear on the public registry.
            </label>
            <p class="licence">Optional: <a href="#">add a licence to your data</a></p>
          </li>
        </ul>
      </form>
    </div>
    </div>
</div>

<%- include('partials/nextActions', currentPage); %>

  <script>
    window.onload = function() {
      // Make the next page button fire the save function.
      var nextPage = document.getElementById("nextPageLink");

      nextPage.addEventListener("click", function(event) {
        event.preventDefault();
        wizard.saveDescriptors();
      });
    };
  </script>

<%- include('../partials/foot'); %>
