<% var currentPage = {activeClass : "finalise"} %>

<%- include('../partials/head', {title : "Finalise | InterMine"}); %>

<%- include('partials/breadcrumbs', currentPage); %>


    <div class="wizardStep supplementary">
      <h2 class="sectionHeader">Review all settings </h2>
      <div class="fileReview subStep">

        <h3 class="subHeader">Uploaded Files</h3>
        <div class="fileList">
          <div class="subStepContent">
            <h4>
              humanfile.gff
              <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
            </h4>
            <ul>
              <li>
                <span class="title">Organism:</span> H. sapiens, build: GRCh38.p7
              </li>
              <li>
                GFF3 file with 12,024 rows
              </li>
            </ul>
            <div class="fileSummary">
              <h5>Identifier Mappings for <span class="identifier">Dbxref</span></h5>
              <table>
                <thead>
                  <tr>
                    <th>Column name</th>
                    <th>Example entry</th>
                    <th>Identifier type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>GeneID</td>
                    <td>100287102</td>
                    <td>Gene Primary Identifier</td>
                    <td class="edit">
                      <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                    </td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>DDX11L1</td>
                    <td>Symbol</td>
                    <td class="edit">
                      <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                    </td>
                  </tr>
                  <tr>
                    <td>HGNC</td>
                    <td>HGNC:37102</td>
                    <td>Gene Synonym</td>
                    <td class="edit">
                      <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5>Identifier Mappings for <span class="identifier">SomeColumn</span></h5>
              <table>
                <thead>
                  <tr>
                    <th>Column name</th>
                    <th>Example entry</th>
                    <th>Identifier type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>GeneID</td>
                    <td>100287102</td>
                    <td>Gene Primary Identifier</td>
                    <td class="edit">
                      <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                    </td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>DDX11L1</td>
                    <td>Symbol</td>
                    <td class="edit">
                      <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                    </td>
                  </tr>
                  <tr>
                    <td>HGNC</td>
                    <td>HGNC:37102</td>
                    <td>Gene Synonym</td>
                    <td class="edit">
                      <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="subStepContent">
            <h4>
            humanfile2.gff
            <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
          </h4>
            <ul>
              <li><span class="title">Organism:</span> H. sapiens, build GRCh38.p7</li>
              <li>GFF3 file with 10,198 rows</li>
            </ul>
            <div class="fileSummary">
              <h5>
              Identifier Mappings for <span class="identifier">Dbxref</span>
            </h5>
              <table>
                <thead>
                  <tr>
                    <th>Column name</th>
                    <th>Example entry</th>
                    <th>Identifier type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>GeneID</td>
                    <td>100287102</td>
                    <td>Gene Primary Identifier</td>
                    <td class="edit">
                      <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                    </td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>DDX11L1</td>
                    <td>Symbol</td>
                    <td class="edit">
                      <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                    </td>
                  </tr>
                  <tr>
                    <td>HGNC</td>
                    <td>HGNC:37102</td>
                    <td>Gene Synonym</td>
                    <td class="edit">
                      <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wizardStep">
      <h3 class="sectionHeader">Supplementary Data and Tools </h3>
      <div class="toolDataSummary">
        <div class="summary">
          <h4 class="subHeader">
              <span>Data</span>
            <svg class="icon icon-edit">
              <use xlink:href="#icon-edit"></use>
            </svg>
          </h4>
          <ul>
            <li><a href="">Uniprot protein data</a></li>
            <li><a href="">Pubmed publication data</a></li>
            <li><a href="">GO annotations</a></li>
            <li><a href="">NCBI - whole genome</a></li>
          </ul>
        </div>
        <div class="summary">
          <h4 class="subHeader">
            Tools and visualisations
            <svg class="icon icon-edit">
              <use xlink:href="#icon-edit"></use>
            </svg>
          </h4>
          <ul>
            <li><a href="">Cytoscape Gene Interactions</a></li>
            <li><a href="">ProtVista Protein Viewer</a> </li>
            <li><a href="">GXA Expression Viewer</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wizardStep">
      <h3 class="sectionHeader">Settings </h3>
      <table class="userDetails">
        <tbody>
          <tr>
            <td class="title">URL:</td>
            <td>MyFirstDatabase.AliceLab.intermine.org</td>
            <td class="edit">
              <svg class="icon icon-edit">
                <use xlink:href="#icon-edit"></use>
              </svg>
          </tr>
          <tr>
            <td class="title">Privacy:</td>
            <td>Private</td>
            <td class="edit">
              <svg class="icon icon-edit">
                <use xlink:href="#icon-edit"></use>
              </svg>

          </tr>
        </tbody>
      </table>
    </div>

<%- include('partials/nextActions', currentPage); %>

<%- include('../partials/foot'); %>
