<%- include('../partials/head', {title : "Map Columns | InterMine"}); %>

<%- include('../partials/breadcrumbs', {activeClass : "mapColumns"}); %>


    <div class="wizardStep">
      <h2 class="sectionHeader">Upload: humanfile.fasta </h2>
      <div class="sectionContent">
        <p>Quick preview of your data:</p>

        <h3> Header row: </h3>
        <div class="fileContentPreview">Medtr1g004950.1 | hypothetical protein | LC | chr1:14514-15729 | 20140818</div>
        <h3> Sequence: </h3>
        <div class="fileContentPreview"> ATGACGTCTTTGAGGAGGTTCAAAAAGGACAAAATAAAATTGTGCGATAAAGGC ... (truncated)
        </div>
      </div>
    </div>
    <div class="wizardStep">
      <div class="subStep info">
        <h4 class="subHeader">1: We detected the following attributes:</h4>
        <div class="infoBox subStepContent">
          <svg class="icon icon-info"><use xlink:href="#icon-info"></use></svg>
          <ul>
            <li>
              <span class="title">File format:</span> FASTA
            </li>
            <li><span class="title">Number of entities in the file:</span> 37
            </li>
          </ul>
        </div>
      </div>
      <div class="wizardStep">
        <div class="subStep columnMapping">
          <h4 class="subHeader">2: Tell us about your file</h4>
          <div class="subStepContent">
            <p>We had a couple more questions... </p>
            <ul>
              <li>
                <h5>Sequence Features</h5>
                <p>What type of sequence features are in this file?</p>
                <div class="typeahead">
                <input type="text" placeholder="Begin typing or select from dropdown...">
                  <div class="typeaheadDropdownIndicator">
                    <svg class="icon icon-circle-down"><use xlink:href="#icon-circle-down"></use></svg>
                  </div>
                </div>
              </li>
              <li>
                <h5>Nucleotides or proteins?</h5>
                <p>Does this file contain nucleotides or proteins?</p>
                <div class="typeahead">
                  <input type="radio" checked name="ntOraa">Nucleotides</input>
                  <input type="radio" name="ntOraa">Proteins</input>
                </div>
              </li>
              <li>
                <h5>The first item (e.g. <span class="identifier">Medtr1g004950.1</span>) is a:</h5>
                <div>
                  <form>
                    <label>
                      <input type="radio" checked value="primaryIdentifer" name="name" />
                      Primary Identifier
                    </label>
                    <label>
                      <input type="radio" value="synonym" name="name" /> Synonym
                    </label>
                    <label>
                      <input type="radio" value="ignore" name="name">
                      Ignore this identifier type</input>
                    </label>
                  </form>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="wizardStep nextActions">
        <a href="upload" class="back">&lt;&lt; Back</a>
        <a href="upload" class="back"><svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg> Add another file</a>
        <a href="supplementaryData" class="cta next">Save and Continue &gt;&gt;</a>
      </div>

<%- include('../partials/foot'); %>
