<% var currentPage = {activeClass : "mapColumns"} %>

<%- include('../partials/head', {title : "Map Columns | InterMine"}); %>

<%- include('partials/breadcrumbs', currentPage); %>


    <div class="wizardStep">
      <h2 class="sectionHeader" id="uploadTitle">Upload: humanfile.fasta </h2>
      <div class="sectionContent">
        <p>Quick preview of your data:</p>

        <h3 id="previewHeaderLabel"> Header row: </h3>
        <div id="previewHeaderRow" class="fileContentPreview">Medtr1g004950.1 | hypothetical protein | LC | chr1:14514-15729 | 20140818</div>
        <h3 id="previewSnippetLabel"> Sequence: </h3>
        <div id="previewFileSnippet" class="fileContentPreview"> ATGACGTCTTTGAGGAGGTTCAAAAAGGACAAAATAAAATTGTGCGATAAAGGC ... (truncated)
        </div>
      </div>
    </div>
    <div class="wizardStep">
      <div class="subStep info">
        <h4 class="subHeader">1: We detected the following attributes:</h4>
        <div class="infoBox subStepContent">
          <svg class="icon icon-info"><use xlink:href="#icon-info"></use></svg>
          <ul id="descriptors">
            <li>
              <span class="title">File format:</span> FASTA
            </li>
          </ul>
        </div>
      </div>
      <div class="wizardStep">
        <div class="subStep columnMapping">
          <h4 class="subHeader">2: Tell us about your file</h4>
          <div class="subStepContent">
            <p>We had a couple more questions... </p>
            <ul id="questions">
            </ul>
          </div>
        </div>
      </div>

<%- include('partials/nextActions', currentPage); %>

  <script type="module">
    import {initMapColumns} from "../js/wizard/mapColumns.js";
    initMapColumns();

  </script>

<%- include('../partials/foot'); %>
