<%- include('./partials/head', {title : "InterMine"}); %>
<div class="wizardStep">

  <div class="marketing-splash">
    <div class="marketing-blurbs">
      <!-- This will be a lot more beautiful in reality. Too plain now. -->
      <p><strong>Supplement</strong> your data with related publications from PubMed, GO terms, blah, thingy, and stuff.</p>
      <p>Create <strong>beautiful</strong> visualisations and graphs</p>
      <!-- Show beautiful graph snippets please -->
      <p>Generate <strong>reproducible API queries</strong> in <strong>Python, R, Perl, Java, Ruby, Javascript, or Clojure. </strong></p>
      <!-- code snippet -->
      <p><strong>Easy Analyses</strong> - enrich your lists of genes over GO terms, publications, and more... </p>
    </div>
    <div class="next-actions">

      <a href="register" class="cta" onclick="wizard.openInitialPage(event);">Get started now</a>
      <p>or</p>
      <a href="http://www.humanmine.org" class="cta">Try a demo</a>


    </div>
  </div>
</div>

<%- include('./partials/foot'); %>
