<%- include('./partials/head', {title : "Register or Sign In"}); %>

    <div class="wizardStep register-or-sign-in">
      <h3>Sign in or Register</h3>
      <div class="register-or-sign-in">
        <div class="registration">
          <h4>New user? </h4>
          <form id="registerForm" action="dashboard">
            <label>
              Email: <input type="email" required></input>
            </label>
            <label>
              Password: <input type="password" required></input>
            </label>
            <label>
              Password again: <input type="password" required></input>
            </label>
            <button type="submit" class="back">Register</button>
          </form>
        </div>
        <div class="sign-in">
          <h4>Have an account? </h4>
          <form id="signinForm" action="dashboard">
            <label>
              Email: <input type="email" required></input>
            </label>
            <label>
              Password: <input type="password"></input>
            </label>
            <a href="#">Forgot your password?</a>
            <button type="submit" class="back">Sign in</button>
          </form>
        </div>
      </div>
    </div>

<%- include('./partials/foot'); %>
