<%- include('../partials/head', {title : "InterMine DEV CONSOLE"}); %>

<div class="wizardStep uploadAndGuidance">
  <h2 class="sectionHeader">InterMine Import Wizard Quick Links</h2>
  <ul>
    <li><a href="/">Landing page</a></li>
    <li><a href="/register">Register or sign in</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/users/profile">Profile</a></li>
    <li> Wizard
      <ol>
        <li><a href="/wizard/upload">File chooser</a></li>
        <li><a href="/wizard/mapColumns">Column mappings - FASTA</a></li>
        <li><a href="/wizard/supplementaryData">Supplementary data &amp; tool chooser</a></li>
        <li><a href="/wizard/config">Mine config (privacy and mine name)</a></li>
        <li><a href="/wizard/finalise">Review and finalise</a></li>
      </ol>
    </li>
    <li>Alertbox
      <ol>
        <li><span onclick="wizard.renderAlertMessage('This is test warning message', 'error', 4000)" style="cursor: pointer; color: blue">Error Alertbox, lasts for 4 seconds</span></li>
        <li><span onclick="wizard.renderAlertMessage('This is test success message', 'success', 5000)" style="cursor: pointer; color: blue">Success Alertbox, lasts for 5 seconds</span></li>
        <li><span onclick="wizard.renderAlertMessage('This is test warning message', 'warning', 3000)" style="cursor: pointer; color: blue">Warning Alertbox, lasts for 3 seconds</span></li>
        <li><span onclick="wizard.renderAlertMessage('This is test info message', 'info')" style="cursor: pointer; color: blue">Info Alertbox</span></li>
      </ol>
    </li>
  </ul>
</div>


<%- include('../partials/foot'); %>
