<%- include('../partials/head', {title : "InterMine DEV CONSOLE"}); %>

<div class="wizardStep uploadAndGuidance">
  <h2 class="sectionHeader">InterMine Import Wizard Quick Links</h2>
  <ul>
    <li><a href="/">Landing page</a></li>
    <li><a href="/register">Register or sign in</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/users/profile">Profile</a></li>
    <li> Wizard
      <ol>
        <li><a href="/wizard/upload">File chooser</a></li>
        <li><a href="/wizard/mapColumns">Column mappings - FASTA</a></li>
        <li><a href="/wizard/supplementaryData">Supplementary data &amp; tool chooser</a></li>
        <li><a href="/wizard/config">Mine config (privacy and mine name)</a></li>
        <li><a href="/wizard/finalise">Review and finalise</a></li>
      </ol>
    </li>
  </ul>
</div>


<%- include('../partials/foot'); %>
