<%- include('../partials/head', {title : "My Profile | InterMine"}); %>

    <div class="dashboard profilePage">
      <h2 class="sectionHeader">My Profile </h2>
      <table class="userDetails profile">
        <tbody>
          <tr>
            <td class="title">Email:</td>
            <td>alice@intermine.org</td>
            <td class="edit">
              <svg class="icon icon-edit">
                <use xlink:href="#icon-edit"></use>
              </svg>
          </tr>

          <tr>
            <td class="title">First Name(s):</td>
            <td>Alice</td>
            <td class="edit">
              <svg class="icon icon-edit">
                <use xlink:href="#icon-edit"></use>
              </svg>
          </tr>

          <tr>
            <td class="title">Last Name(s):</td>
            <td>Cooper</td>
            <td class="edit">
              <svg class="icon icon-edit">
                <use xlink:href="#icon-edit"></use>
              </svg>
          </tr>

          <tr>
            <td class="title">Organisation:</td>
            <td>University of Cambridge</td>
            <td class="edit">
              <svg class="icon icon-edit">
                <use xlink:href="#icon-edit"></use>
              </svg>
          </tr>

          <tr>
            <td class="title">Password:</td>
            <td class="topsecret">[Top secret] <a href="change-password.html">Change</a></td>
            <td class="edit">
              <svg class="icon icon-edit">
                <use xlink:href="#icon-edit"></use>
              </svg>
          </tr>

        </tbody>
      </table>
    </div>

<%- include('../partials/foot'); %>
